@import "../../style.scss";

.gameLayoutcard {
  @include themify($themes) {
    display: flex;
    flex-direction: column;
    background-color: themed(bg);
    color: themed(textColorSoft);
    height: 100vh;
   

    .topgGL{
      
    }

    .bottomGL{
      display: flex;
      margin: 20px;
      padding-top: 150px;
    

      .outGL{
        flex: 6;
        overflow: scroll;
      }

      .barCardGL{
        flex:2;
        position: fixed;
        padding-left: 40px;
        
      }

     
     
    }
  }
}
