@import "../../style.scss";

.main {
  @include themify($themes) {
    display: flex;
    flex-direction: column;
    background-color: themed(bg);
    color: themed(textColorSoft);
    position: absolute;

    .topLM{
      position: sticky;
      top: 0;
      z-index: 999;
    }

    .botomMl{
      display: flex;
      margin: 20px;
    

      .outlet{
        flex: 6;
      }

     
     
    }
  }
}
