@import "../../style.scss";

.friendePage {
  @include themify($themes) {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    background-color: themed(bg);
    padding-bottom: 200px;

    .friendeCompGP {
    }

    .downBarCompGP {
      position: fixed;
      bottom: 20px;
      left: 38%;
      transform: translateX(-50%);
      z-index: 1000;
      display: flex;
      background-color: themed(bgSoft);
      color: themed(textColorSoft);
      width: 400px;
      border: 2px solid themed(border);
      border-radius: 10px;
      height: 100px;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      .itemDB {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
        justify-content: center;

        border: 2px solid themed(border);
        height: 100px;

        .icon {
          font-size: 40px;
          color: themed(textColor);
        }
        &:hover {
          cursor: pointer;
          background-color: themed(bg);
        }
      }
    }
  }
}
